body{
  background-color:orange;
}

h1,h3{
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}

p{
  font-family: 'Montserrat', sans-serif;
  margin:20px;
}


img{
  width:100%;
}



.image-caption{
  border: 5px solid #2d2d2d;
  font-size:12px;
  margin:20px;
  text-align: center;
  width:15%;
  padding: 20px;


}

.gallery{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;

}

@media screen and (max-width: 992px) {
  body {
    background-color: green;

  }

  .image-caption{
    border: 5px solid #2d2d2d;
    font-size:14px;
    width:20%;
    padding:20px;
  }


}

@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }

    .image-caption{
      border: 5px solid #2d2d2d;
      font-size:16px;
      width:30%;
    }


}

@media screen and (max-width: 552px) {
  body {
    background-color: red;
  }

  .image-caption{

    border: 5px solid #2d2d2d;
    width:100%;

  }

}
